/* Reset and base styles  */
html{

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

  body
  {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}






/* reset style */




a, li, button{
    text-decoration: none;
    color: gainsboro;  
    list-style: none;
    font-size: 15px;
    font-weight: 600;
}
header {
    background-color: black;
    font-family: sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    min-width: 100%;

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
;
}
.logo {
    cursor: pointer;
}
.nav-list li {
    display: inline-block;
    padding: 0 20px;
}
.nav-list li a {
    transition: all 0.3s ease 0s;
}
.nav-list li a :hover {
    color: orange;
}
.btn-download {
    padding: 9px 25px;
    background: none;
    background-color: none;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    height: 50px;
    width: 125px;
    justify-content: center;
}
.btn-download:hover {
    color: orange;
}

/* main */
main {
    background-color: black;
    color: white;
    min-height: 500px;
    padding: 80px;
    justify-content: center;
    align-items: start;
    text-align: center;
    display: flex;
    width: 100%;

}
.container-wrapper {
    max-width: 800px;
    padding: 0 15px;
}
.container-title{
    color: rgb(239, 241, 242);
    font-size: 85px;
    font-weight: 600;
    font-family: sans-serif;
    letter-spacing: -3px;

}
.container-text {
    font-size: 18px;
    line-height: 1.56em;
    color: rgb(186, 187, 195);
    font-family: sans-serif;
    height: 140px;
    padding-top: 10px;
}
.btn-trial {
    border-radius: 8px;
    background-color: rgb(242, 201, 76);
    opacity: 1;
    font-weight: 700;
    font-size: 15px;
    color: rgb(34, 33, 33);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    width: 200px;
    padding: 20px 25px;
    cursor: pointer;
}
.btn-trial:hover{
    background-color: white;
    transition: 0.5s;
}
.btn-trial:active{
    position: relative;
    top: 1px;
}
.btn-under-text {
    font-size: 14px;
    line-height: 1.56em;
    color: rgb(125, 127, 131);
    font-family: sans-serif;
    padding-top: 30px;
}
.container-video {
    background-color: rgb(0, 0, 0);
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/bg-setka.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;}
.video {
    height: 400px;
    width: 800px;
    border-radius: 0px;
    display: block;
    cursor: auto;
}
.container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(120,72,221);
    column-gap: 130px;
    padding: 35px 20px;
    transform: rotate(2deg);
    width: 100%;

}
.many-logo {
    height: 60px;
    width: 120px;
}
.blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    column-gap: 10px;
    padding: 100px;
    border-bottom:1px solid grey
}
.cat-gif {
    border-radius: 100%;
    height: 50px;
}
.first-block {
    display: flex;
    column-gap: 20px;
}
.first-block-h1 {
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.4em;
}
.first-block-p{
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
    line-height: 1.4em;
    color: rgb(186, 187, 195)
}
.second-block {
    display: flex;
    column-gap: 20px;
}
.second-block-h1 {
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.4em;
}
.second-block-p{
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
    line-height: 1.4em;
    color: rgb(186, 187, 195)
}
.third-block {
    display: flex;
    column-gap: 20px;
}
.third-block-h1 {
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.4em;
}
.third-block-p{
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
    line-height: 1.4em;
    color: rgb(186, 187, 195)
}
/* block */
.twoblocks {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 50px 50px;
    column-gap: 100px;
} 
.block-title {
    font-size: 56px;
    color: rgb(239, 241, 242);
    font-family: sans-serif;
    letter-spacing: -1.5;
    font-weight: 600;
}
.block-text {
    color: rgb(186, 187, 195);
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.6em;
    font-style: normal;
    text-align: left;
}
.btn-block {
    line-height: 1.5em;
    font-size: 36;
    color: rgb(242, 201, 76);
    background-color: none;
    border: none;
    font-family: sans-serif;
    
}
.btn-block:hover {
    color: white;
    text-decoration: solid rgb(186, 187, 195);
  
}
h3 {
    color: white;
    font-size: 56px;
    font-family: sans-serif;
    text-align: left;
    font-weight: 600;
}
.sub-border {
    border: 1px solid #292a2c;
    align-items: flex-start;
    border-radius: 16px;
    width: 100%;
    padding: 50px;
    justify-content: flex-start;
}
.sub-container {
    display: flex;
    justify-content: center;
    padding: 100px;
    color: white;
}
.sub-blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}
.sub-blocks h4{
    color: rgb(242, 201, 76);
    font-size: 50px;
    font-family: sans-serif;
    text-align: start;
    font-weight: 600;
}
.sub-blocks p {
    font-size: 18px;
    font-family:sans-serif;
    font-weight: 500;
    color:#babbc3;
    width: 80%;
}
.about-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap:50px;
    background-color: black;
    color: white;
}
.about-us .block-1 h4 {
    color: rgb(239, 241, 242);
    font-size: 46px;
    font-weight: 600;
    letter-spacing: -1.5px;
    font-family: sans-serif;
    text-align: start;
}
.about-us .block-1 p {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6em;
    color: rgb(186, 187, 195);
}
.block-1 {
    width: 20%;
    border-radius: 50%;
}
.block-2 {
    width: 20%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.block-2 img {
    max-width:100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.under-img {
 background-color: rgb(23,24,26);
 max-width: 100%;
 
}
.under-img h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5em;
    font-family: sans-serif;
    color: rgb(239, 241, 242);
    padding: 15px 25px;tt
}
.under-img p {
    font-size: 16px;
    font-family: sans-serif;
    padding: 15px 25px;
    color: rgb(186, 187, 195);
    line-height: 1.5em;
    letter-spacing: 1px;
    
}
.block-3 {
    width: 20%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.block-3 img {
    max-width:100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.under-about-us-downlaod {
    line-height: 1.5em;
    font-size: 36;
    color: rgb(242, 201, 76);
    background-color: none;
    border: none;
    font-family: sans-serif;
    align-items: end;
    text-align: end;
    justify-content: end;
}
.line-hugerain{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(120,72,221);
    column-gap: 60px;
    padding: 25px 20px;
    transform: rotate(-2deg);
    width: 100%;
    
}
.line-hugerain h5 {
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 1.2px;
}
footer{
    background-color: black;
    padding: 50px 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
    height: 400px;
    width: 100%;
}

footer h6 {
    font-size: 18px;
    color: rgb(186, 187, 195);
    font-family: sans-serif;
    text-align: start;
    padding: 10px;
}
footer  img {
    width: 120px;
    height: 60px;
}
.footer-block-1{
  width: 400px;
  height: 200px;
    align-items: top;
}
.footer-block-2{
    width: 200px;
    height: 200px;
    align-items: top;
  }
  .footer-block-3{
    width: 200px;
    height: 200px;
    align-items: top;
  }
  .footer-block-4{
    width: 200px;
    height: 200px;
    align-items: top;
  }
  footer h5 {
    font-size: 18px;
    color: rgb(186, 187, 195);
    font-family: sans-serif;
  
}
footer li {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.8em;
}
.banny-gif {
    width: 400px;
    height: 400px;
}
.banny-gif-2 {
    width: 400px;
    height: 400px;
}
.under-img {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.bg-line-hugerain {
    background-color:black;
    height: 200px;
    padding-top: 50px;
}
/* адаптация */
 

@media (max-width:620px) {
    .container-title{
        font-size: 35px;
        letter-spacing: 1.5px;
    }
    .container-text{
        font-size: 13px;
        display: block;
    }
    .btn-trial{
        font-size: 14px;
        padding: 5px 3px;
        border-radius: 5px;
    }
    .btn-under-text {
        font-size: 13px;
    }
    .video{
        width: 90%;
    }
    .blocks{
        display: block;
        padding: 30px 30px;
        column-gap: 100px;
    }
    .container-logo  img{
        width: 30%;
        height: 20%;
    }
    .block-title {
        font-size: 30px;

    }
    .block-text {
        font-size: 14px;
    }
    .twoblocks {
        padding: 5px 15px;
    }
    .banny-gif {
        width:160px;
        height: 80px;
    }
   .sub-container h3 {
    font-size: 25px;
   }
   .sub-container {
    padding: 10px;
    display: block;
    flex-wrap:nowrap;
    column-gap: 0px;
   }
   .sub-container h4 {
    font-size: 18px;
   }
   .sub-blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}
   .sub-blocks p {
    font-size: 13px;
   }
   .sub-border {
    padding: 15px;
   }

   .block-1 {
    justify-content: center;
    display: block;
    text-align: center; 
    align-items: center;
    width: auto;
    padding: 15px;
   }
   .block-2 {
    justify-content: center;
    display: block;
    text-align: center;
    width: auto;
    padding: 15px;
   }
   .block-3 {
    justify-content: center;
    display: block;
    text-align: center;
    width: auto;
    padding: 15px;
   }
   
   
   .about-us {
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    row-gap: 50px;
    padding: 40px 40px;
}
    .about-us .block- img{
        justify-content: center;
        display: block;
        align-items: center;
    }
    .about-us .block-1 h4 {
        color: rgb(239, 241, 242);
        font-size: 22px;
        font-weight: 600;
        letter-spacing: 1.1px;
        font-family: sans-serif;
        text-align: center;
    }
    .about-us .block-1 p {
        font-size: 14px;
    }
    .about-us .block-2 h4 {
        font-size: 20px;
    }
    .about-us .block-2 p {
        font-size: 14px;
    }
    .about-us .block-3 h4 {
        font-size: 20px
    }
    .about-us .block-3 p {
        font-size: 14px;
    }
    .bg-line-hugerain {
        width: 100%;
        height: 100%;
    }
    .line-hugerain{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(120,72,221);
        column-gap: 110px;
        padding: 8px 10px;
        transform: rotate(-2deg);
        width: 100%;
    }
    .line-hugerain h5 {
        font-size: 18px;
        letter-spacing: 4px;
        font-weight: 500;
    }
    footer {
        background-color: black;
        padding: 50px auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        column-gap: 60px;
        height: 100%;
        width: 100%;
        flex-direction: column;
        }
    .footer-block-1 , .footer-block-2, .footer-block-3, .footer-block-4 {
        height: 100%;
        padding: 15px;
        justify-content: center;
        display: block;
        align-items: center;
    }
    footer  h5{
        font-size: 18px;
    }
    footer li {
        font-size: 14px;
    }
    footer h6 {
        font-size: 18px;

    }
    
}
